<div class="container">
  <div id="journey-index" class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="form">
        <div class="form-content">
          <%= simple_form_for(@itinerary) do |f| %>
            <%= f.input :origin_destination, label: false, placeholder:"Origin destination", input_html: {class:"inside-form address-input"} %>
            <%= f.input :final_destination, label: false, placeholder:"Final destination", input_html: {class:"inside-form address-input", value: params.dig(:search, :final) } %>
            <%= f.submit input_html:{class:"button-form"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag'image3.png', class:"image-down"%>

</div>
