<div class="itinerary-show">
  <div class="destination">
     <%= image_tag'deco.png', class:"decos"%>
    <div id="origin">
      <h4><%= @itinerary.origin_destination.split(",").first %></h4>
    </div>
    <div id="final">
      <h4><%= @itinerary.final_destination.split(",").first %></h4>
    </div>
  </div>

  <div class="itinerary-id" id="<%= @itinerary.id %>">
  </div>



  <div class="map-content">
    <div id="simple"
      style="width: 100%; height: 280px; border-radius: 14px; align-items: center;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-url = "<%= @url %>"
      ></div>
  </div>

  <div class="wrapper">
    <div class="cards-wrap"  style : {width: 260px}, {height: 300px}, >
      <div class="row m-0 w-100">
        <% @journeys.each do |journey| %>
          <%= link_to journey_path(journey), class: "w-100" do %>
            <div class="card-journey w-100">
                <% if journey.transportation == "walking"%>
                  <%= image_tag'walking.png', class:"image-walking"%>
                <% elsif journey.transportation == "cycling"%>
                  <%= image_tag'cycling.png', class:"image-cycling"%>
                <% elsif journey.transportation == "driving" %>
                  <%= image_tag'driving.png', class:"image-driving"%>
                <% end %>
                 <div class="km">
                <h6 class= "m-0"><%= (journey.distance/1000).round(1) %> km</h6>
                </div>
                <div class="time">
                 <h6 class="m-0 text-center"><%= (journey.duration/60).round(0) %></h6>
                 <span>mins</span>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
