<div class="itinerary-show">
  <div class="destination">
    <div id="origin">
      <%= image_tag'illu2.png', class:"image-side"%>
      <h5> Origin: </h5>
      <h4> <%=  @itinerary.origin_destination %></h4>
    </div>
    <div id="final">
      <h5> Destination: </h5>
      <h4> <%=  @itinerary.final_destination %></h4>
    </div>
  </div>

  <div class="itinerary-id" id="<%= @itinerary.id %>">
  </div>



  <div class="map-content">

    <div id="simple"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-url = "<%= @url %>"
      ></div>
  </div>

  <div class="wrapper">
    <div class="cards-wrap">
      <div class="row">
        <% @journeys.each do |journey| %>
          <%= link_to journey_path(journey) do %>
            <div class="card-journey"> <strong><%= journey.transportation.upcase %></strong>: <%= (journey.distance/1000).round(1) %> km | <%= (journey.duration/60).round(0) %> minutes</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
