<div class="trips-header">
  <h2 class="point-trips"> Total points: <%=current_user.total_points%></h2>
  <h4 class="hojas"> Eco-Rating:<%current_user.eco_rating.times do%>
    <%= image_tag'leaf.png', class:"leafit"%>
  <% end %>
  </h4>
</div>

<div class="trips">
  <% @my_trips.each do |journey| %>
    <div class="card-trip">
      <% if journey.transportation == "cycling"%>
          <%= image_tag'bici.png', class:"image-cycling"%>
      <% elsif journey.transportation == "walking"%>
          <%= image_tag'caminar.png', class:"image-walking"%>
      <% elsif journey.transportation == "driving" %>
          <%= image_tag'conducir.png', class:"image-driving"%>
      <% end %>
      <div class="km-trip">
        <h6 class= "m-0">CO<sub>2</sub> <%= journey.total_emissions.round %>g</h6>
        <h6 class= "m-0"><%= journey.points %> points</h6>
      </div>
      <div class="time-trip">
        <h6 class="m-0 text-center"><%= journey.created_at.strftime(" %e/%m") %></h6>
      </div>
    </div>
  <% end %>
</div>
