
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <% unless @home %>
      <%= image_tag "https://res.cloudinary.com/manuelacass/image/upload/v1630494962/logo_u8txzk.png" %>
      <% end %>
    <% end %>
</div>


    <div class="menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
    <nav class="offscreen-nav ">
      <ul role="navigation" class="hidden">
        <% unless user_signed_in?%>
          <div class="buttons-nav">
            <ul class="btn btn-dark my-2"> <a href="/users/sign_in">Log In</a></ul>
            <ul class="btn btn-dark my-2"><a href="/users/sign_up">Sign Up</a></ul>
          </div>
        <% else %>
          <div class="user-profile">
              <div class="container mt-5 d-flex justify-content-center my-4 mx-0">
                  <div class="d-flex align-items-center">
                  <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/manuelacass/image/upload/v1631176103/iconb_swuwyb.png" />
                      <div class="name ml-3 w-100">
                        <h4 class="mb-0 mt-0">Vivian Frost</h4><span>vf@icloud.com</span>
                        <br>
                        <h4> Points: <%=current_user.eco_rating%> </h4>
                      </div>
                  </div>
                </div>
              <div class="container9 my-3">
                  <h5 class="tripsi my-3"><%= link_to 'My Trips', my_trips_path %></h5>
                  <h5 class="wallet my-3"><%= link_to 'Taa Pass', travelpass_path%></h5>
                  <h5 class="my-account my-3"><%= link_to 'My Account'%></h5>
                  <h5 class="help my-3"><%= link_to 'Help'%></h5>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <h5 class="legal">© V4.667.00987</h5>
                  <h5 class="developed">Developed by Taa.inc</h5>
              </div>
          </div>

        <%end%>

      </ul>
    </nav>
