  <br>
  <br>
<%= render 'splash_image' %>

<%= image_tag'logo4.png', class:"image-top"%>
<div class="home-container">
   <div class="locat p-0">
     <%= simple_form_for :search, url: new_itinerary_path, method: :get do |f| %>
      <%= f.input :final, label: false, placeholder:"Where to now?", input_html: {class: 'address-input'} %>
      <%= f.button :button do %>
        <div class="arrow bounce"></div>
      <% end %>
    <% end %>
   </div>
</div>

<div class="home-map-container">
  <div id="home-map"
      style="width: 100%; height: 440px"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
