<div id="journey-index" class="row">
  <div class="col-md-6 col-md-offset-1">

    <div class="journey-header">
      <h2> Trip Details 🌳 </h2>
    </div>

    <br>

    <div class="destination">
      <div id="origin">
        <h4> ⛳ From: <%=  @journeys.first.itinerary.origin_destination %></h4>
      </div>
      <div id="final">
        <h4> 🔜 To: <%=  @journeys.first.itinerary.final_destination %></h4>
      </div>
    </div>

    <div class="wrapper">
      <div class="cards-wrap">
        <div class="row">
          <% @journeys.each do |journey| %>
            <div class="card-journey"> <strong><%= journey.transportation.upcase %></strong>: <%= (journey.distance/1000).round(1) %> km | <%= (journey.duration/60).round(0) %> minutes </div>
          <% end %>
        </div>
      </div>

    </div>

    <div>
    </div>
  </div>

    <div class="journey-panel">
      <h3 class="text-center"><%= link_to 'Confirm' %></h3>
    </div>
</div>
