<div class="journey-show" data-transportation-method="<%= @journey.transportation %>">
  <h1><%= @journey.transportation.capitalize %> | Things to know about your journey</h1>

  <div class="journey-info">
    <div class="destination-1">
      <div id="origin-1">
        <h3> Origin: </h3>
        <h4> <%= @journeys %></h4>
      </div>
      <div id="final-1">
        <h3> Destination: </h3>
        <h4> <%= @journeys %></h4>
      </div>
    </div>

    <div class="time-price">

    </div>

    <%# <div class="emission-points"> %>
      <%# <p>You will be travelling by <%= @journey.transportation %>
      <%# and the carbon emission for this journey is <%= @journey.total_emissions %>
      <%# g CO2/km.</p> %>
      <%# <p>You have gained 100 TAA. points!</p>
    </div> %>
  </div>
</div>

<div class="itinerary-id" id="<%= @journey.itinerary_id %>">
<div class="journey-id" id="<%= @journey.id %>">

<div class="map-content">
  <%= @url %>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">


  <div id="map"
    style="width: 100%; height: 296px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-url = "<%= @url %>"
    >
  </div>
  <div id="instructions"></div>
</div>
