<div class="journey-show" data-transportation-method="<%= @journey.transportation %>">
  <div class="journey-info">
    <div class="destinations">
     <%= image_tag'deco.png', class:"decos"%>
    <div id="origin">
      <h4>Origin: <%= @itinerary.origin_destination.split(",").first %></h4>
    </div>
    <div id="final">
      <h4>Destination: <%= @itinerary.final_destination.split(",").first %></h4>
    </div>
  </div>

  <div class="itinerary-id" id="<%= @itinerary.id %>">
  </div>


    <div class="time-price"> </div>
  </div>
</div>

<div class="itinerary-id" id="<%= @journey.itinerary_id %>">
<div class="journey-id" id="<%= @journey.id %>">

<div class="map">
  <%= @url %>

  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">

  <div id="map"

    style="width: auto; height: 280px; border-radius: 14px; align-items: center; margin: 0 27.5px;"

    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-url = "<%= @url %>"
    >
  </div>
  <div id="instructions"></div>
</div>
