<div class="journey-show">
  <h1>Things to know about your journey</h1>

  <div class="journey-info">
    <div class="time-price">

    </div>

    <div class="emission-points">
      <p>You will be travelling by <%= @transport.name %> which emmits <%= @journey.total_emissions %> g CO2/km.</p>
      <p>This adds your tally by 100 points!</p>
    </div>
  </div>
</div>
<div class="itinerary-id" id="<%= @journey.itinerary_id %>">

<div class="map-content">
  <%= @url %>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">


  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-url = "<%= @url %>"
    >
  </div>
  <div id="instructions"></div>
</div>
